<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee                         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.login.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartnerServlet</servlet-name>
        <servlet-class>controller.supply.PartnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractServlet</servlet-name>
        <servlet-class>controller.supply.ContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchWarehouseServlet</servlet-name>
        <servlet-class>controller.supply.SearchWarehouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMaterialReceiptServlet</servlet-name>
        <servlet-class>controller.supply.CreateMaterialReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMemberServlet</servlet-name>
        <servlet-class>controller.supply.SearchMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchWarehouseServlet1</servlet-name>
        <servlet-class>controller.supply.SearchWarehouseServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMaterialSupplyServlet</servlet-name>
        <servlet-class>controller.supply.CreateMaterialSupplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDebtServlet</servlet-name>
        <servlet-class>controller.debt.DebtManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartnerDebtDetailServlet</servlet-name>
        <servlet-class>controller.debt.PartnerDebtDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberDebtDetailServlet</servlet-name>
        <servlet-class>controller.debt.MemberDebtDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMaterialServlet</servlet-name>
        <servlet-class>controller.material.CreateMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMaterialServlet</servlet-name>
        <servlet-class>controller.material.EditMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListWarehouseServlet</servlet-name>
        <servlet-class>controller.material.ListWarehouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateWarehouseServlet</servlet-name>
        <servlet-class>controller.material.CreateWarehouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarehouseInventoryServlet</servlet-name>
        <servlet-class>controller.material.WarehouseInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditWarehouseServlet</servlet-name>
        <servlet-class>controller.material.EditWarehouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPartnerServlet</servlet-name>
        <servlet-class>controller.material.ListPartnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPartnerServlet</servlet-name>
        <servlet-class>controller.material.EditPartnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePartnerServlet</servlet-name>
        <servlet-class>controller.material.CreatePartnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>controller.purchase.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePurchaseReceiptServlet</servlet-name>
        <servlet-class>controller.purchase.CreatePurchaseReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductWarehouseServlet</servlet-name>
        <servlet-class>controller.purchase.SearchProductWarehouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FarmerDebtHistoryServlet</servlet-name>
        <servlet-class>controller.debt.FarmerDebtHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FarmerTransactionDetailServlet</servlet-name>
        <servlet-class>controller.debt.FarmerTransactionDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchMaterialServlet</servlet-name>
        <servlet-class>controller.supply.SearchMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialDetailServlet</servlet-name>
        <servlet-class>controller.supply.MaterialDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchMaterialServlet</servlet-name>
        <url-pattern>/SearchMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialDetailServlet</servlet-name>
        <url-pattern>/MaterialDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartnerServlet</servlet-name>
        <url-pattern>/PartnerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractServlet</servlet-name>
        <url-pattern>/ContractServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchWarehouseServlet</servlet-name>
        <url-pattern>/SearchWarehouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMaterialReceiptServlet</servlet-name>
        <url-pattern>/CreateMaterialReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMemberServlet</servlet-name>
        <url-pattern>/SearchMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchWarehouseServlet1</servlet-name>
        <url-pattern>/SearchWarehouseServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMaterialSupplyServlet</servlet-name>
        <url-pattern>/CreateMaterialSupplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebtManagementServlet</servlet-name>
        <url-pattern>/DebtManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartnerDebtDetailServlet</servlet-name>
        <url-pattern>/PartnerDebtDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberDebtDetailServlet</servlet-name>
        <url-pattern>/MemberDebtDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMaterialServlet</servlet-name>
        <url-pattern>/CreateMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMaterialServlet</servlet-name>
        <url-pattern>/EditMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListWarehouseServlet</servlet-name>
        <url-pattern>/ListWarehouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateWarehouseServlet</servlet-name>
        <url-pattern>/CreateWarehouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarehouseInventoryServlet</servlet-name>
        <url-pattern>/WarehouseInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditWarehouseServlet</servlet-name>
        <url-pattern>/EditWarehouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPartnerServlet</servlet-name>
        <url-pattern>/ListPartnerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPartnerServlet</servlet-name>
        <url-pattern>/EditPartnerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePartnerServlet</servlet-name>
        <url-pattern>/CreatePartnerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePurchaseReceiptServlet</servlet-name>
        <url-pattern>/CreatePurchaseReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductWarehouseServlet</servlet-name>
        <url-pattern>/SearchProductWarehouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FarmerDebtHistoryServlet</servlet-name>
        <url-pattern>/FarmerDebtHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FarmerTransactionDetailServlet</servlet-name>
        <url-pattern>/FarmerTransactionDetailServlet</url-pattern>
    </servlet-mapping>
</web-app>
