<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                        https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.login.Register</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SearchMaterialServlet</servlet-name>
        <servlet-class>controller.supply.SearchMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialDetailServlet</servlet-name>
        <servlet-class>controller.supply.MaterialDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchMaterialServlet</servlet-name>
        <url-pattern>/SearchMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialDetailServlet</servlet-name>
        <url-pattern>/MaterialDetailServlet</url-pattern>
    </servlet-mapping>

</web-app>
